
section{
    background-image: url('../../public/landing-img/derma.jpg');
    background-size: 1200px 1000px;
    height: 78vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    width: 100%;
}

button{
    border: none;
    background: #ff9a9e;
    width: 150px;
    height: 50px;
    color: antiquewhite;
    font-size: large;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.3);
    transition: all 0.5s;
}
button:hover{
    width: 180px;
    height: 70px;
    background: #ff9a9e;
    
    font-size: x-large;
    box-shadow: none;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-list{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.icon-li{
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;
}

.icon-a{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
.icon-tiktok{
    background-image: url('../../public/landing-img/tiktok.svg');
    background-repeat: no-repeat;
    background-position:center;
}
.icon-insta{
    background-image: url('../../public/landing-img/instagram.svg');
    background-repeat: no-repeat;
    background-position:center;
}
.icon-yout{
    background-image: url('../../public/landing-img/youtube.svg');
    background-repeat: no-repeat;
    background-position:center;
}

.img-svg{
    width: 40px;
    transition: all 0.5s;
}

.img-svg:hover{
    width: 60px;
}

@media (max-width: 800px) {
    main{
        width: 100%;
        
    }
    section{
        
        width: 414px;
    }
}

@media only screen and (min-width: 768px) {
    main{
        width: 100%;
        height: 896;
    }
    button{
        width: 200px;
        height: 70px;
        font-size: 30px;
    }
}