.main-products{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
background-blend-mode: multiply,multiply;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-products{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 75%;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 45px;
}