---
import Layout from '../layouts/Layout.astro';
import Landing from '../components/Landing.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="Skin Test">
	<main>
		<Nav/>
		<Landing>
		</Landing>
		
	</main>
</Layout>


