---
import Layout from '../layouts/Layout.astro';
import TestComponent from '../components/TestComponente.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="Skin Test">
	<main>
        <Nav/>
		<TestComponent>   
        </TestComponent>
	</main>
</Layout>

