---
import Layout from "../layouts/Layout.astro";
import "../styles/asesory.css"
---

<Layout title="Asesory">
        <div class="container-asesory">
            <form class="asesory-form" action="https://formsubmit.co/mikemadrid96@gmail.com" method="POST">
                <div class="form-title">
                    <h1>Formulario de contacto</h1>
                </div>
                <div class="inputs">
                <label for="nombre">Nombre* <br><br><input id="nombre" name="nombre" class="inpt" type="text" required></label><br>
                <label for="correo">Correo* <br><br><input id="correo" name="correo" class="inpt" type="text" required></label><br>
                <label for="subject">Asunto <br><br><input id="subject" name="subject" class="inpt" type="text" required></label><br>
                <label for="message">Mensaje</label><textarea placeholder="Escribe el mensaje ..." name="comments" class="message-asesory" id="message" cols="30" rows="30"></textarea>
                </div>
                <div class="terms">
                    <label for="check">Aceptar terminos y condiciones de tratamiento de datos personales <input id="check" class="check" type="checkbox" required></label>
                </div>
                
                <div class="btn">
                    <button type="submit">Enviar</button>
                    <input type="hidden" name="_next" value="https://jmadridsuarez.github.io/skinTest/">
                    <input type="hidden" name="captcha" value="false">
                </div>
                
            </form>
        </div>  
</Layout>
