---
import '../styles/nav.css'
---
<main>
    <div class="header">
        <nav class="nav-links">
            <div class="option">
                <ul class="option-list">
                    <li><a href="/skinTest">Home</a></li>
                    <li><a href="/skinTest/test/#asesory">Asesory</a></li>
                </ul>
            </div>
        </nav>
    </div>